@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-figtree), sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2d3440;
}

::-webkit-scrollbar-thumb {
  background: #7b5d7a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a6b89;
}
